/* Generals */
body {
  height: 100vh;
  background: linear-gradient(
    #009688 0%,
    #009688 20%,
    #dadbd4 20%,
    #dadbd4 100%
  );
}

header {
  height: 60px;
  padding: 10px;
  background-color: rgb(234, 234, 234);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;
}

footer {
  height: 60px;
  padding: 10px;
  background-color: rgb(243, 238, 234);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h6 {
  margin: 0;
}

p {
  margin: 0;
}

.row [class^="col"] {
  background-color: #fff;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

input:focus-visible {
  outline: none;
}

/* Utils */

.circle-pic {
  border-radius: 50%;
  overflow: hidden;
  margin: 0px;
  margin-right: 5px;
  cursor: pointer;
}

/* Header */

header .user-pic {
  width: 50px;
}

header .fa-solid {
  font-size: 20px;
  color: rgb(177, 177, 177);
  margin: 0px 5px;
  cursor: pointer;
}

header .last-access {
  font-size: 14px;
  color: grey;
}

/* Notifications */

.notifications {
  background-color: rgb(142, 218, 252);
  height: 60px;
  display: flex;
  align-items: center;
}

.notifications .circle-pic {
  width: 40px;
  height: 40px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notifications .fa-solid {
  color: rgb(142, 218, 252);
  font-size: 20px;
}

.notifications h6 {
  font-size: 14px;
}

.notifications p {
  font-size: 13px;
  text-decoration: underline;
  color: grey;
  cursor: pointer;
}

/* Chat filter */

.chat-filter {
  height: 40px;
  background-color: rgb(250, 250, 250);
  padding: 5px;
}

.chat-filter .filter-input {
  height: 100%;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 3px 3px 3px 10px;
  display: flex;
  align-items: center;
}

.filter-input .fa-solid {
  color: rgb(177, 177, 177);
  width: 20px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
}

.filter-input input {
  width: 100%;
  border: none;
  padding: 0;
  font-size: 13px;
  color: grey;
  font-weight: 600;
  margin-left: 10px;
}

.filter-input input::placeholder {
  font-size: 13px;
  font-weight: 600;
}

/* Chat list */
.chat-list {
  height: calc(100% - 160px);
  overflow-y: auto;
}

.chat-list li {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
  border-top: 2px solid rgb(250, 250, 250);
}

.chat-list li.active {
  background-color: rgb(233, 235, 235);
}

.chat-list figure {
  flex-basis: 20%;
  margin-right: 20px;
}

.chat-list .last-message-text {
  font-size: 12px;
  color: grey;
}

.chat-list .last-message-time {
  font-size: 10px;
  color: grey;
  flex-shrink: 0;
}

/* Chat View */

.chat-view {
  height: calc(100% - 120px);
  overflow-y: auto;
  background-image: url(../img/mine.jpg);
  background-position: center;
  background-repeat: repeat;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.chat-view .message-box {
  max-width: 300px;
  min-width: 250px;
  font-weight: 600;
  padding: 10px 5px 5px 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.message-box .message-options {
  width: 10%;
  position: relative;
}

.chat-view .message-options .fa-solid {
  color: grey;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: none;
}

.chat-view .message-options ul {
  position: absolute;
  white-space: nowrap;
  right: 50%;
  top: calc(50% + 8px);
  font-size: 12px;
  border: 1px solid black;
  background-color: white;
}

.chat-view .message-box:hover .fa-solid {
  display: block;
}

.chat-view .message-box.sent {
  align-self: flex-end;
  background-color: rgb(213, 249, 186);
}

.chat-view .message-box.received {
  background-color: white;
  align-self: flex-start;
}

.chat-view .message-text {
  font-size: 14px;
  word-wrap: break-word;
  width: 90%;
}
.chat-view .message-time {
  text-align: end;
  font-size: 10px;
  color: grey;
  line-height: 10px;
}

/* Footer */

footer [class^="fa"] {
  font-size: 23px;
  color: grey;
  margin: 0px 15px;
  cursor: pointer;
}

footer input {
  border: none;
  border-radius: 3px;
  flex-grow: 1;
  padding: 5px 15px;
  line-height: 30px;
  font-size: 14px;
  margin: 0 10px;
}

footer input::placeholder {
  font-size: 14px;
}
