/* Generals */
body {
  height: 100vh;
  background: linear-gradient(
    #009688 0%,
    #009688 20%,
    #dadbd4 20%,
    #dadbd4 100%
  );
}

header {
  height: 70px;
  padding: 10px;
  background-color: rgb(234, 234, 234);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;
}

/* # DA ELIMINARE */
.row [class^="col"] {
  background-color: #fff;
}

img {
  max-width: 100%;
  display: block;
}

/* Header */

header .user-pic {
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0px;
  margin-right: 5px;
  cursor: pointer;
}

header .fa-solid {
  font-size: 20px;
  color: rgb(177, 177, 177);
  margin: 0px 5px;
  cursor: pointer;
}

header .last-access {
  font-size: 14px;
  color: rgb(177, 177, 177);
}
